# Files created after compilation #
###################################
painless
*.o

# Lingeling created files #
###########################
lingeling/lglcfg.h
lingeling/lglcflags.h
lingeling/liblgl.a
lingeling/makefile

# Glucose created files #
#########################
glucose/parallel/depend.mk
glucose/parallel/lib_standard.a
glucose/parallel/libglucose.a

# Minisat created files #
#########################
minisat/build/*
minisat/config.mk

# MapleCOMSPS created files #
#############################
mapleCOMSPS/build/*

# Other temporary indesiderable files #
#######################################
.*.swp                   # vim
*~                       # emacs, gedit
.nfs*                    # nfs


*.a
./lib

src/*/*.o

.externalToolBuilders
.project
.settings
*.o
*~
*.a
NuSMV-2.6.0/NuSMV/build/
bsaltic
bsaltic_analyzer
.DS_Store
NuSMV-2.6.0/scripts/html2text.pyc
.vscode/
.so
NuSMV-2.6.0/NuSMV/lib
*.split
*.png
